@model ProjectA.Models.Role

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="fa fa-house"></i>Home</a>
            <span class="breadcrumb-item active">Chi tiết quyền truy cập</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Info</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                </tr>
                <tr>
                    <td>Tên quyền truy cập</td>
                    <td class="text-dark font-weight-semibold">@Model.RoleName</td>
                </tr>
                <tr>
                    <td>Mô tả</td>
                    <td class="text-dark font-weight-semibold">@Model.Description</td>
                </tr>
            </table>
        </div>
    </div>
</div>
